MONGODB_URL = mongodb+srv://tiennguyenbuihongtien_db_user:SZhxjEAifyT2YzA0@cluster0.7shurbe.mongodb.net/
JWT_SECRET = adbfa6aa6ab55fc72e03500174f77a0c7fdf9702ad59df548c9b42512aaa1570
FRONTEND_URL = http://localhost:3000